<div class="alert alert-info" role="alert">Choose Sauces (Multiple)
</div>

<select class="form-control"  multiple [(ngModel)]="getSauce">
  <option *ngFor="let item of SauceOptions">
    {{item.name}}
  </option>
</select>


<p class="text-left text-monospace">Selected Bread Size is <button type="button" class="btn btn-dark">{{breadSize}}</button></p>
<p class="text-left text-monospace">Selected Bread type is <button type="button" class="btn btn-info">{{breadChosen}}</button></p>
<p class="text-left text-monospace">Selected Meat is <button type="button" class="btn btn-danger">{{meatChosen}}</button></p>
<p class="text-left text-monospace">Selected Filling(s) are <span *ngFor="let item of fillingChosen"><button type="button" class="btn btn-success">{{item.name}}</button></span></p>


<button class="btn btn-primary" (click)="changeEvent()">Save Sauces</button>
