<!--<h3 appColor>Subway</h3>-->
<!--&lt;!&ndash;<h3 appColor={{color}}>Subway</h3>&ndash;&gt;-->
<!--&lt;!&ndash;<h3 [appColor]="color">Subway</h3>&ndash;&gt;-->
<!--&lt;!&ndash;<h3 bind-appColor="color">Subway</h3>&ndash;&gt;-->

<!--<div class="alert alert-info" role="alert" >-->
  <!--Enter Meal Size-->
<!--</div>-->
<!--<input type="text" class="form-control" placeholder="Bread size" [(ngModel)]="meal_size">-->
<!--<button class="btn btn-primary" (click) ="getBreadSize()">Submit</button>-->


<!--&lt;!&ndash;<p *ngIf="bread_empty" class="text-left text-monospace">Bread Chosen is <button type="button" class="btn btn-info">{{breadSelected}}</button></p>&ndash;&gt;-->

<!--<p class="text-left text-monospace">Bread Chosen is <button type="button" class="btn btn-info">{{breadSize}}</button></p>-->

<!--<app-bread *ngIf="meal_empty" [breadSize]="meal_size" (breadChosen)="getSelectedBread($event)"></app-bread>-->

<app-bread></app-bread>
