<!--<div class="alert alert-info" role="alert">Choose Bread Type-->
<!--</div>-->

<!--&lt;!&ndash; input from parent&ndash;&gt;-->
<!--<p class="text-left text-monospace">Selected Meal size <button type="button" class="btn btn-dark">{{breadSize}}</button></p>-->

<!--<p>Select Bread Type</p>-->
  <!--<select class="form-control" #categoriesCtrl (change)='SelectedValue = categoriesCtrl.value'>-->
    <!--<option *ngFor="let item of breadTypes" value="{{item.name}}">{{item.name}}</option>-->
  <!--</select>-->

<!--<button class="btn btn-primary" (click)="getBreadType()">Save Bread Type</button>-->

<!--&lt;!&ndash; output from child &ndash;&gt;-->
<!--<p class="text-left text-monospace" *ngIf="meat_empty">Meat Chosen is <button type="button" class="btn btn-danger">{{meatSelected}}</button></p>-->
<!--<p class="text-left text-monospace" *ngIf="filling_empty">Filling Chosen is <button type="button" class="btn btn-success">{{fillingSelected}}</button></p>-->
<!--<p class="text-left text-monospace" *ngIf="sauce_empty">Sauce Chosen is <button type="button" class="btn btn-warning">{{sauceSelected}}</button></p>-->

<!--<app-meat *ngIf="bread_empty" [breadChosen]="SelectedValue" [breadSize]="breadSize" (meatChosen)="getSelectedMeat($event)" (filling)="getSelectedFilling($event)" (sauce)="getSelectedSauce($event)"></app-meat>-->


